.feeds{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-top: 35px;
    margin-bottom: 20px;
}

#bottomFeed{
    margin-top: -25px;
}
.feeds .feedBox{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-right: 5px;
    /* margin-bottom: 50px; */
}
.feedBox .feedBoxImg{
    width: 100%;
    height: 250px;
    border-radius: 15px;
    margin-top: 40px;
}
.feedBox .feedImg {
    display: flex;
    gap: 8px;
    margin-top: 4px;
    font-size: 14px;
}

.feedImg p{
    margin-top: 8px;
}

.feedBox .feedImg img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.shorts{
    padding: 0 20px;
}
.shorts .feedBox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 12px;
    grid-row-gap: 10px;
    margin-left: 10px;
}


.shorts .feedBox .feedBoxImg{
    width: 100%;
    height: 500px;
    border-radius: 15px;
}
.shortsHeading{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 600;
    margin-top: 40px;
}
.shortsHeading img{
    width: 30px;
}

.mediaTube .mediaImg{
    display: flex;
    justify-content: center;
    background: red;
    padding: 5px 10px;
    width: 27px;
    border-radius: 5px;
}
.mediaTube .mediaImg img{
    width: 8px;
}



/* BOTTOM FEED */
.bottomFeed{
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    padding: 20px;
}
.bottomFeed .imgBtn{
    display: flex;
    gap: 12px;
    background-color: rgb(65, 142, 120);
    position: absolute;
    z-index: 1;
    margin: auto 42%;
    padding: 4px 75px;
    border-radius: 25px;
}
.bottomFeed .imgBtn img{
    width: 15px;
    cursor: pointer;
}
.bottomFeed .imgBtn button{
    width: 100px;
    padding: 3px 10px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: none;
    color: #ffffff;
}
.bottomFeed hr{
    background-color: #333;
    position: absolute;
    right: 0;
    left: 0;
    top: 33px;
}

@media (max-width: 900px){
    .bottomFeed .imgBtn{
        display: flex;
        gap: 12px;
        z-index: 1;
        margin: auto 37%;
        padding: 4px 20px;
        border-radius: 25px;
    }
    .mainFeed{
        margin: 0 5px;
    }
}