
.plavVideo{
    margin-top: 20px;
}

.controlDiv{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
/* .mainDiv{
    width: 55%;
} */
.mainDiv iframe{
    width: 100%;
    border-radius: 20px;
    border-top-left-radius: 20px;
    height: 40rem;
}
.controlDiv img{
    width: 15px;
}

/* USER Styling */
.controlDiv .user{
    display: flex;
    gap: 16px;
}
.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user span{
    color: #5a5a5a;
}
.user button{
    padding: 3px 10px;
    border: none;
    color: #fff;
    font-size: 15px;
    background: #333;
    border-radius: 25px;
    cursor: pointer;
}
.user button:hover{
    background: #1a6251;
    font-weight: 700;
}



/* REACTIONS */

.actions{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.actions .reactions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: #95c1b7;
    padding: 3px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 17px;
}

.reactions .verticalLine{
    width: 1px;
    height: 25px;
    background: #333;
}
.actions .share{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 15px;
    background: #95c1b7;
    padding: 6px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.actions .download{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 17px;
    background: #95c1b7;
    padding: 3px 15px;
    border-radius: 25px;
    cursor: pointer;
}
.actions .clip{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 17px;
    background: #95c1b7;
    padding: 3px 15px;
    border-radius: 25px;
    cursor: pointer;
}
.actions .dots{
    display: flex;
    background: #95c1b7;
    padding: 12px 6px;
    gap: 3px;
    width: 30px;
    height: 29px;
    border-radius: 50%;
    cursor: pointer;
}

.actions .dots div{
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
}


/* ABOUT VIDEOS */
.plavVideo .aboutpost{
    margin: 20px auto;
    padding: 10px;
    background: rgb(118, 153, 153);
    border-radius: 10px;
    font-size:18px;
    color: #fff;
}
.plavVideo .aboutpost p{
    color: #fff;
}



/* COMMENTS */
.commentsDiv .commentHeading{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px auto;
}
.commentHeading .hamburger{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    padding: 5px;
}
.hamburger .div1{
    width: 30px;
    height: 3px;
    background: #333;
    border-radius: 10px;
}
.hamburger .div2{
    width: 20px;
    height: 3px;
    background: #333;
    border-radius: 10px;
}
.hamburger .div3{
    width: 10px;
    height: 3px;
    background: #333;
    border-radius: 10px;
}
.commentHeading h3{
    font-weight: 900;
}

/* ADD COMMENT */
.addComment{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 40px auto;
}
.addComment img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.addComment .comment1{
    width: 100%;
}

/* POST COMMENTERS */
.postCommenters{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 35px;
}
.postCommenters img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.postCommenters .bottomreacts .reacts{
    display: flex;
    align-items: center;
    gap: 10px;
}
.postCommenters .bottomreacts .reacts img{
    width: 17px;
}
.reacts button{
    margin-left: 20px;
    font-size: 15px;
    border: none;
    background: none;
    font-weight: 700;
}
.postCommenters .bottomDots{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 2px;
}
.postCommenters .bottomDots div{
    width: 3px;
    height: 3px;
    background: #333;
    border-radius: 50%;
}
