.topBar{
    background: rgb(65, 63, 63);
    padding: 3px 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    width: 95%;
    position: fixed;
}
.topBar .mainBar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    position: relative;
}
.topBar .mainBar #lessThan{
    position: absolute;
    left: 0;
}

.buttons{
    display: flex;
    align-items: center;
    width: 95%;
}

.topBar img{
    width: 15px;
    margin: 0 10px;
    position: fixed;
}

.topBar button{
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background: #333;
    margin-top: 10px;
}
.mainBar .buttons{
    z-index: -0.6;
    /* opacity: 1; */
}
.mainBar #rightImg{
    right: -9px;
    position: fixed;
    /* width: 70px; */
}
#lessThan, #rightImg{
    background: #fff;
    padding: 5px;
    height: 30px;
    width: 30px;
}