.topBar{
    background: rgb(65, 63, 63);
    padding: 0 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    margin-bottom: 10px;
    /* margin-left: 14%; */
    z-index: 2;
}
.topBar .mainBar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2px;
    width: 100%;
    position: relative;
}
.topBar .mainBar #lessThan{
    position: absolute;
    left: 0;
}

.buttons{
    display: flex;
    align-items: center;
    width: 95%;
    z-index: -0.6;
}

.topBar img{
    width: 15px;
    margin: 0 10px;
    position: fixed;
    cursor: pointer;
}

.topBar button{
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 15px;
    border: none;
    font-weight: 600;
    color: #fff;
    background: #333;
    margin-top: 10px;
    cursor: pointer;
}
.buttons .divBtns{
    gap: 4px;
}
.buttons .divBtns button:focus{
    background-color: #fff;
    color: #333;
}
.mainBar #rightImg{
    right: -9px;
    position: fixed;
    /* width: 70px; */
}
#lessThan, #rightImg{
    background: #fff;
    padding: 5px;
    height: 30px;
    width: 30px;
}
@media (max-width: 900px){
    .topBar{
        margin-left: 60px;
    }
}