.manVideo{
    background: #e0e1e1;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    /* padding-top: 3%; */
    margin-top: 50px;
    /* background: rgb(231, 243, 242); */
}

.videos{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
}