.home{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    margin-top: 85px;
    /* gap: 10px; */
}
.middleBar{
    margin-left: 14%;
}
#middleHome{
    width: 100%;
    margin-bottom: 30px;
}