.sideBar{
    width: 14%;
    height: 100vh; 
    overflow-y: auto; 
    overflow-x: hidden; 
    background-color: #f4f4f4; 
    padding: 20px; 
    z-index: 1;
    position: fixed;
}

@media(max-width:900px){
    .hideBar{
        display: block;
    }
}

.hideBar{
    width: 30px;
    overflow-y: none; 
    overflow-x: none;
    margin: 20px 20px;
}

.sideBar img{
     width:24px;
}
.hideBar img{
    width:24px;
}

.sideBar img:hover{
    cursor: pointer;
}

.hideBar img:hover{
    cursor: pointer;
}

.sideBar .mainBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.hideBar .mainBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.mainBar div{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 8px;
    font-size: 18px;
    /* font-weight: 900; */
}

/* .mainBar .sideBarRoute:hover{
    background: grey;
    height: 30px;
    padding: 5px 8px;
    border-radius: 10px;
    color: #fff;
} */

/* YOU SECTION */
.you{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px auto;
}
.you h3{
    font-size: 18px;
}
.you img{
    width: 13px;
}

.mainBar .yourVideos{
    display: flex;
    /* background: red; */
    align-items: center;
    margin: 0 0;
}
.mainBar .yourVideos .imgDiv{
    display: flex;
    align-items: center;
    padding: 5px;
    border: solid 2px #333;
}
.yourVideos .imgDiv img{
    width: 9px;
}

/* SUBSCRIPTIONS */
.subClass .mainBar div img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.subClass .mainBar .showMore img{
    width: 17px;
}
.subClass .mainBar .showMore{
    display: flex;
    align-items: center;
    margin-left: 9px;
}


/* More from mediaTube */
.mainBar .mediaTube .mediaImg{
    display: flex;
    justify-content: center;
    background: red;
    padding: 5px 10px;
    width: 27px;
    border-radius: 5px;
}
.mediaTube .mediaImg img{
    width: 8px;
}
.mediaTube2{
    margin-top: -8px;
}
.tubeMedia{
    margin-top: -8px;
}

.tubeMedia .media1{
    background: red;
    padding: 3px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}

.tubeMedia .media1 .media2{
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    border: 2px solid #fff;
    padding: 3px;
    width: 20px;
    height: 20px;
    margin-bottom: 0px;
    border-radius: 50%;
}
.media2 img{
    width: 6px;
}


/* BOTTOM FOOTER */
.bottomFooter{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.bottomFooter .footer1 span{
    margin: 3px;
    font-size: 15px;
    color: #5a5a5a;
}
.bottomFooter .footer2{
    display: flex;
    justify-content: center;
}
.bottomFooter .footer2 p{
    font-size: 13px;
    color: #5a5a5a;
    word-spacing: 5px;
}
